/************************************** BUTTON **************************************/
.c-button {

}

/************************************** PANEL **************************************/
.c-panel {
    background: white;
}

.c-panel-title {
    font-size: 17px;
    line-height: 40px;
    color: #666;
    letter-spacing: 2px;
    margin: 0;
    font-weight: normal;
    font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
}

/************************************** VIEW **************************************/
.c-view {
    padding: 10px;
}

.c-view .c-view-panel {
    margin: 10px !important;
}

/******************************* CONSTRUCTION PANEL *******************************/

.construction-panel {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.construction-panel div {
    vertical-align: middle;
    color: #666;
}